[buildout]
develop = .
parts = py.test
extensions = buildout.dumppickedversions

[py.test]
recipe = z3c.recipe.scripts
initialization =
    import sys
    if not sys.argv[1:]:sys.argv.append('src/document_chain')
    sys.argv.append('--doctest-modules')
eggs =
    document_chain [test] 
    pytest
